In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv(r'C:\Users\svsta\OneDrive - 숭실대학교 - Soongsil University\workspace\DATAS\INSTA\DATA_FOR_MODELING.txt')

In [3]:
temp

           insta_id                                               text  target
0        3079813342            필라테스 운동 다시 시작 바렐 스트레칭 머리 질 끈 묶고 운동하는 여자       0
1        3079813342  울산 여행 휴유증 여수 낭만포차 돌 문어상회 하모샤브샤브 게장 갓 볶음밥 여수달구나...       0
2        3079813342  울산 여행 휴유증 슈가브리움 풀빌라 아빠와 딸 최고의 파트너 찰떡 콤비 집에 와서도...       0
3        3079813342  울산 여수 슈가브리움 풀빌라 바베큐 파티 여수당 여수당 바게트 버거 맛있었어 줄 서...       0
4        3079813342  여수여행 여름 발 리스윙 행복한 여행 남편 최고 결혼 발리가고 싶다 우리 세 가족 ...       0
...             ...                                                ...     ...
4484495  1430629023  스위티 창동 스위티엠제이 마산창동 마산창원 진해케익 마산 주문케익 케익토퍼 마산카페...       4
4484496  1430629023  수프리마켓 창동예술촌 골목 스위티 엄제이 마산창동 토요일 천연 발효종 치아바타 탕종...       4
4484497  1430629023  수프리마켓 창동예술촌 골목 마산 핸드메이드 꼼지락 공방 나무늘 보 작업실 달달 구리...       4
4484498  1430629023  무화과 여름 케익 스위티 엄제이 스위티 마산 카페 디저트 카페 마산 홈베이킹 마산창...       4
4484499  1430629023  콥샐러드 오픈샌드위치 마산 마카롱 마산홈베이킹 콥 샐러드 스위티 창동맛집 창동예술촌...       4

[4484500 rows x 3 columns]

In [8]:
a = pd.DataFrame()
for i in range(8):
    a = pd.concat([a, temp[temp['target'] == i].sample(frac=1)[:100000]])

In [11]:
import pickle
with open(r'C:\Users\svsta\sns_project\Insta\Target_Data\testing\y_list.bin', 'wb') as f :
    pickle.dump(list(a['target']), f)

In [12]:
a.reset_index()[['insta_id','text']].to_csv('test_file.txt')